				@font-face {
					font-family: 'encabezados';
					src: url('/wp-content/uploads/useanyfont/5529Encabezados.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/5529Encabezados.woff') format('woff');
					  font-display: auto;
				}

				.encabezados{font-family: 'encabezados' !important;}

		