body{
    margin-left:0;
    margin-right: 0;
    margin-top: 0;
}
.Body-lpf{
    background-image: url(../images/fondolpf.jpg);
    background-position:300rem;
    width: 100%;
    display:flex ;
    flex-direction: column;
    
    
}
.body-uefa{
    background-image: url(../images/images-uefa/fondo-uefa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display:flex ;
    flex-direction: column;
}
.body-libertadores{
    background-image: url(../images/images-libertadores/fondo-libertadores.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -20rem;
    display:flex ;
    flex-direction: column;
}
    .body-pna{
        background-image: url(../images/images-PNA/fondo-pna.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display:flex ;
        flex-direction: column;
}

h1{
    background-image: url("../images/pasto.jpg");
    font-family: 'Bebas Neue', cursive;
   color: bisque;
   text-align: center;
   font-size: 4rem;
   border: 1px solid;
   margin-bottom: 0;
   margin-top: 0rem;
}
.Liga-container{
    display: flex;
    justify-content: space-around;
  font-size:1.5rem ;
  color: white;
  font-family: 'Kanit', sans-serif;
}
.Ligas:hover{
    background-color: rgba(17, 154, 17, 0.471);
    border-radius: 5px;

}
    .Ligas img{
        width: 1.3rem;

 }
 a{
    text-decoration: none;
    color: aliceblue;
 }
 /* SECCION NOTICIAS*/
.noticias-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    grid-area: noticia;
    width: 100%;
    color: white;
  font-family: 'Kanit', sans-serif;
}
.noticias-container img{
    width: 15rem;
    height: 9rem;
    margin-right: 0.5rem;
}
.noticia1, .noticia2, .noticia3, .noticia4, .noticia5{
    display: flex;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
video{
    width: 480px;
    grid-area: video;
    margin-top: 1rem;
}
.page-container{
    background-color: rgba(43, 141, 32, 0.582);
   border: 1px;
    margin-top: 1rem;
    display: grid;
    grid-template-areas: "noticia noticia video"
                         "noticia noticia tabla"
                         "noticia noticia tabla"
                         "noticia noticia   ."
                         "noticia noticia  ." ;
}

@media(max-width:576px){
    .page-container{
     grid-template-areas: "noticia "
                          "noticia "
                          "noticia "
                          "noticia "
                          "noticia "
                          "video   "
                          ".       "
                          "tabla   ";
   margin: 0.5rem;  
   font-size: 1rem;                   
   ;}
  
   .Liga-container{
    flex-direction: column;
   }
   h1{
    font-size: 3rem;
    text-align: center;
    background-size: 100;
   }
   .noticias-container{
    flex-direction: column;
   }
   .noticia1, .noticia2, .noticia3, .noticia4, .noticia5{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.1rem;
    margin-top: 0rem;
    margin-left: 0.2rem;
}
table{
    grid-area: tabla;
}
video{
    width: 100%;
    grid-area: video;
    
}
.body-libertadores, .Body-lpf, .body-pna, .body-uefa{
   background-size: 390px;
   background-repeat: repeat;
}

}
@media(min-width:577px) and (max-width: 768px){
    .page-container{
     grid-template-areas: "noticia video"
                          "noticia tabla"
                          "noticia tabla"
                          "noticia ."
                         ;
   margin: 0.5rem;  
   font-size: 1rem;                   
   ;}
  
   .Liga-container{
    flex-direction: row;
   }
   h1{
    font-size: 3rem;
    text-align: center;
    background-size: 100;
   }
   .noticias-container{
    flex-direction: column;
   }
   .noticia1, .noticia2, .noticia3, .noticia4, .noticia5{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.1rem;
    margin-top: 0rem;
    margin-left: 0.2rem;
}
table{
    grid-area: tabla;
}
video{
    width: 100%;
    grid-area: video;
    
}
.body-libertadores, .Body-lpf, .body-pna, .body-uefa{
   background-size: 390px;
   background-repeat: repeat;
}

}
.tabla-posiciones{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}